

#content {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	#content {
		padding-left: 0;
	}
}

.color-o-ac3{
	color: #ff9100 !important;
	border-color: #ff9100 !important;
}


